# Practice exercises \#1 with answers

This is the first set of exercises based on the materials seen during lecture 1. These exercises will help you practise with variables and with basic mathematical operations. While these exercises can be resolved on paper or through a calculator, the aim is for you to develop a solution in python.

1. Suppose we are going to buy 75 copies of the 'Think Python' book. Each copy costs £27.65. Because of the large size of our order, we have been offered a 20% discount on the total cost of the books. On top of that, we need to add the shipping costs, which is £0.95 for each of the first 10 books, and £0.45 for each of the remainder of the books. Calculate the total cost of our order.

In [1]:
# option 1
num_books = 75
book_cost = 27.65
discount = 0.8
shipping_first10 = 0.95
shipping_others = 0.45

books_total = num_books * book_cost
books_discounted = books_total * discount
shipping_total = 10 * shipping_first10 + (num_books - 10) * shipping_others

total_cost = books_discounted + shipping_total
print(total_cost)

1697.75

In [2]:
# option 2
num_books = 75
book_cost = 27.65
discount = 0.8
shipping_first10 = 0.95
shipping_others = 0.45

total_cost = num_books * book_cost * discount + 10 * shipping_first10 + (num_books - 10) * shipping_others
print(total_cost)

1697.75

2. Sarah has completed a marathon in 9,752 seconds. Break down the time into hours, minutes and seconds.

In [8]:
# option 1: bottom up
total_secs = 9752

remainder_secs = total_secs % 60
secs_to_be_computed = total_secs - remainder_secs
mins_to_be_computed = secs_to_be_computed / 60
remainder_mins = int(mins_to_be_computed) % 60
hours = int(mins_to_be_computed / 60)

print('Sarah completed the marathon in', hours, 'hours, ', remainder_mins, 'minutes, and', remainder_secs, 'seconds.')

Sarah completed the marathon in 2 hours,  42 minutes, and 32 seconds.

In [6]:
# option 2: top down
total_secs = 9752

hours = int(total_secs / (60 * 60))
secs_to_be_computed = total_secs - hours * 60 * 60
minutes = int(secs_to_be_computed / 60)
secs = secs_to_be_computed - minutes * 60

print('Sarah completed the marathon in', hours, 'hours, ', minutes, 'minutes, and', secs, 'seconds.')

Sarah completed the marathon in 2 hours,  42 minutes, and 32 seconds.

In [2]:
# option 3: 
total_secs = 9752

hours = total_secs // (60 * 60)                         # // is floor division (keeps only the whole number, rounded down)
secs_to_be_computed = total_secs % 3600                 # % modulus gives remainder (leftover) 
minutes = secs_to_be_computed // 60
secs = secs_to_be_computed % 60

print('Sarah completed the marathon in', hours, 'hours, ', minutes, 'minutes, and', secs, 'seconds.')

Sarah completed the marathon in 2 hours,  42 minutes, and 32 seconds.

3. Four athletes (A, B, C, D) make up a team competing in 4x100m relay, i.e. an athletics track run where four runners run 100m each after each other. Each of the team members runs at the following average speeds:
- A: 9.10 m/s
- B: 9.25 m/s
- C: 9.05 m/s
- D: 9.45 m/s

How long will it take for them to complete the 400 metres?

For the purposes of this exercise, assume the above are average speeds throughout their entire run, i.e. ignore the fact that speed may be slower at the start and when transferring the baton, for example.

In [10]:
a = 9.10
b = 9.25
c = 9.05
d = 9.45

total_secs = (100 / a) + (100 / b) + (100 / c) + (100 / d)
print('They will need', total_secs, 'seconds to complete the run.')

They will need 43.43155613873846 seconds to complete the run.

4. A coffee shop offers every 5th coffee within a single purchase for free. That is:
- if you buy 5 coffees, you pay 4.
- if you buy 10 coffees, you pay 8.
- if you buy 9 coffees, you pay 8 (you only qualify for 1 free coffee).

For a purchase order of 37 coffees, at £3.75 a coffee, how much do we need to pay after applying the above discounts?

**NB:** Make sure your code is flexible to be used with different numbers of coffeees, e.g. if we now have an order of 54 coffees, ideally we would only want to modify 37 by 54 in one place, and the code provides the new solution.

In [15]:
# Basically, the number of coffees we get for free it the floor division n // 5, where n is the number of coffees ordered

num_coffees = 37
price = 3.75

free_coffees = num_coffees // 5 # also: int(num_coffees / 5) or ((num_coffees - num_coffees % 5) / 5)
coffees_to_pay = num_coffees - free_coffees

total_price = coffees_to_pay * price

print('We\'ve ordered', num_coffees, 'coffees, which qualifies us for', free_coffees, 'free coffees. As we need to pay for', coffees_to_pay, 'in the end, we will pay £', total_price)

We've ordered 37 coffees, which qualifies us for 7 free coffees. As we need to pay for 30 in the end, we will pay £ 112.5

In [2]:
# Now, if we have an order of 54 coffees, we will only need to modify the num_coffees variable

num_coffees = 54
price = 3.75

free_coffees = num_coffees // 5 # also: int(num_coffees / 5) or ((num_coffees - num_coffees % 5) / 5)
coffees_to_pay = num_coffees - free_coffees

total_price = coffees_to_pay * price

print('We\'ve ordered', num_coffees, 'coffees, which qualifies us for', free_coffees, 'free coffees. As we need to pay for', coffees_to_pay, 'in the end, we will pay £', total_price)

We've ordered 54 coffees, which qualifies us for 10 free coffees. As we need to pay for 44 in the end, we will pay £ 165.0

5. We have a farm with chickens and rabbits. Provided two variables with the number of chickens and the number of rabbits we have, calculate the total number of legs of the animals in our farm. We know that each chicken has two legs, whereas rabbits have four legs.

For example, if we have 5 chickens and 7 rabbits, how many legs do our animals have in total?

In [1]:
chickens = 5
rabbits = 7

legs = (2 * chickens) + (4 * rabbits)

print('Our', chickens, 'chickens and', rabbits, 'rabbits have', legs, 'legs.')

Our 5 chickens and 7 rabbits have 38 legs.

6. In our farm with chickens and rabbits, we now know the total number of legs and the number or rabbits. Provided these two variables, calculate the number of chickens and animal heads in our farm.

For example, if we have 11 rabbits and our animals have 58 legs in total, how many chickens do we have? And how many heads?

In [4]:
rabbits = 11
total_legs = 58

rabbit_legs = rabbits * 4
chicken_legs = total_legs - rabbit_legs
chickens = chicken_legs // 2

print('Provided that we have', rabbits, 'rabbits and', total_legs, 'legs, then we have', chickens, 'chickens.')

Provided that we have 11 rabbits and 58 legs, then we have 7 chickens.

**[Advanced]**

7. In the same farm with chickens and rabbits, now we know how many heads and how many legs our animals have. Provided these two variables, calculate the number of chickens and rabbits.

For example, if our animals have 23 heads and 76 legs, how many chickens and rabbits do we have?

In [12]:
# Option 1: calculate rabbits first, then chickens

heads = 23
legs = 76

rabbits = (legs - 2 * heads) // 2
chickens = heads - rabbits

print('In our farm with', heads, 'heads and', legs, 'legs, we have', rabbits, 'rabbits and', chickens, 'chickens.')

In our farm with 23 heads and 76 legs, we have 15 rabbits and 8 chickens.

The challenge in the 7th exercise lies in coming up with the equation to calculate the number of animals.

We know that the counts of heads and legs can be broken down as follows:

`heads = chickens + rabbits`

`legs = 2 * chickens + 4 * rabbits`

We have two equations with two variables to resolve, so let's come up with a single equation where we have a single variable to resolve. From the first equation, we can infer that:

`chickens = heads - rabbits`

Which we then replace in the 2nd equation and get rid of the chickens variable:

`legs = 2 * (heads - rabbits) + 4 * rabbits`

`legs = 2 * heads - 2 * rabbits + 4 * rabbits`

`legs = 2 * heads + 2 * rabbits`

`legs - 2 * heads = 2 * rabbits`

`(legs - 2 * heads) / 2 = rabbits`

This is the equation we used above. We add the double slash to round down the number of rabbits to an integer.

Once we know the number of rabbits, the number of chickens is simply the remainder of the heads.

In [13]:
# Option 2: calculate chickens first, then rabbits

heads = 23
legs = 76

chickens = (4 * heads - legs) // 2
rabbits = heads - chickens

print('In our farm with', heads, 'heads and', legs, 'legs, we have', rabbits, 'rabbits and', chickens, 'chickens.')

In our farm with 23 heads and 76 legs, we have 15 rabbits and 8 chickens.

The challenge in the 7th exercise lies in coming up with the equation to calculate the number of animals.

We know that the counts of heads and legs can be broken down as follows:

`heads = chickens + rabbits`

`legs = 2 * chickens + 4 * rabbits`

We have two equations with two variables to resolve, so let's come up with a single equation where we have a single variable to resolve. From the first equation, we can infer that:

`rabbits = heads - chickens`

Which we then replace in the 2nd equation and get rid of the rabbits variable:

`legs = 2 * chickens + 4 * (heads - chickens)`

`legs = 2 * chickens + 4 * heads - 4 * chickens`

`2 * chickens = 4 * heads - legs`

`chickens = (4 * heads - legs) / 2`

Again we add the double slash to round down the number of chickens to an integer.

Once we know the number of chickens, the number of rabbits is simply the remainder of the heads.